---
#  -
#    port: 3306
#    verbose: ''
#    ssl: true
#    host: ''
#    controlhost: 'prod-db-access-rds.na.sageone.com'
#    username_db: ''
#    password_db: ''
#    enable_killer: false
#    frequency: 2
  -
    port: 3306
    verbose: 'Production PHPMyAdmin DB'
    ssl: true
    host: 'prod-db-access-rds.na.sageone.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'Global Accountants Production'
    ssl: true
    host: 'global-accts-prod-reporting-replica.cdvh048v9q2n.us-east-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'UK View Production'
    ssl: true
    host: 'uk-view-prod-reporting-replica.cg24wven4egx.eu-west-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'NA SageOne Standard Production'
    ssl: true
    host: 'sage-na-prod-replica.cjmrnjihkipp.us-west-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'ad-production'
    ssl: true
    host: 'ad-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'ch-production'
    ssl: true
    host: '10.181.220.102'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'es-production'
    ssl: true
    host: 'es-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'fr-production'
    ssl: true
    host: 'fr-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'na-production'
    ssl: true
    host: 'na-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'pt-production'
    ssl: true
    host: 'pt-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
  -
    port: 3306
    verbose: 'UK Production ACC,EXT'
    ssl: true
    host: 'uk-production-oscar-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'UK Production MSO,PAY,ADD,COL'
    ssl: true
    host: 'uk-production-tango-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'global-sageone-api-production'
    ssl: true
    host: 'global-api-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'eu-production'
    sosl: true
    host: 'eu-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'NA-STRIPE-PRODUCTION'
    sosl: true
    host: 'na-production-stripe-service-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'UK-STRIPE-PRODUCTION'
    sosl: true
    host: 'uk-production-stripe-service-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'DE-PRODUCTION'
    sosl: true
    host: 'de-production-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'EU-Prod-Sageone(s1_event)'
    sosl: true
    host: 'eu-production-sageone-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'UK-PROD-REPORTING-SERVICE'
    sosl: true
    host: 'uk-production-reporting-service-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'EU-PROD-REPORTING-SERVICE'
    sosl: true
    host: 'eu-production-reporting-service-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'NA-PROD-REPORTING-SERVICE'
    sosl: true
    host: 'na-production-reporting-service-replica.dbaccess.sageone.biz'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'BR Production SBC'
    ssl: false
    host: 'br-prod-sbc-replica.cgaaba9dclub.sa-east-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'BR Production'
    ssl: true
    host: 'br-prod-replica.cgaaba9dclub.sa-east-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'uk-prod-trial-balance-aurora'
    ssl: true
    host: 'uk-prod-trial-balance-aurora.cluster-cg24wven4egx.eu-west-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'eu-prod-trial-balance-aurora'
    ssl: true
    host: 'eu-prod-trial-balance-aurora.cluster-cmwpqdnd40cl.eu-central-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
​
  -
    port: 3306
    verbose: 'na-prod-trial-balance-aurora'
    ssl: true
    host: 'na-prod-trial-balance-aurora.cluster-cdvh048v9q2n.us-east-1.rds.amazonaws.com'
    controlhost: 'prod-db-access-rds.na.sageone.com'
    username_db: ''
    password_db: ''
    enable_killer: false
    frequency: 2
